.env
*.pyc
venv/
.venv/
__pycache__/
*.log
*.session
data/channels.json
data/curdata.json
data/winrate.json
data/table.json
*.session-journal
.vscode/
.venv/
data/state.json
.env
*.sqlite3
*.db

*.py[oc]
build/
dist/
wheels/
*.egg-info
bkp
ai_model/
.github/
regexGenAi/
staticfiles/
*.session*
*-shm
*-wal
PR_DESCRIPTION.md