{
    "-1001669794334": {
        "name": "Дмитрий Ткачев | Фьючерсы",
        "regex": "\\: (.*)\/USD",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001853603830": {
        "name": "Богдан Галицкий",
        "regex": "^\\W*([\\w-]+)",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001165905101": {
        "name": "Крипто Рыбак | Trading🎣",
        "regex": "#([A-Za-z0-9]*)",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001508751799": {
        "name": "Crypto GOD",
        "regex": "\\$(.*)\/USDT",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001231491534": {
        "name": "Дэвид Браун | Crypto Revolution",
        "regex": "#([A-Za-z0-9]*)",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001591264082": {
        "name": "CryptoGrad",
        "regex": "#([A-Za-z0-9]*)",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1002092636822": {
        "name": "2 еблана",
        "regex": "\\$(.*)\/USDT",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001269133096": {
        "name": "🤖 Demo | Pro",
        "regex": "#([A-Za-z0-9]*)",
        "long": "🔫",
        "short": "🧨",
        "do": true
    },
    "-1001989828866": {
        "name": "Альберт Криптует",
        "regex": "(\\w*)\/USDT",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001590683360": {
        "name": "ST Signals",
        "regex": "аю (\\w*)",
        "long": "покупаю",
        "short": "продаю",
        "do": true
    },
    "-1001483531739": {
        "name": "CRYPTO UNIVERSE",
        "regex": "^\\W*([\\w-]+)",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001700967192": {
        "name": "Теория Вероятностей",
        "regex": "#([A-Za-z0-9]*)",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001941685399": {
        "name": "Osip Trade | Maxim Osipov",
        "regex": "^\\W*([\\w-]+)",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001975275597": {
        "name": "Риторика философа",
        "regex": "^\\W*([\\w-]+)",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001931431148": {
        "name": "Ignatov Team",
        "regex": "^\\W*([\\w-]+)",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001630692598": {
        "name": "Crypto▫️Man💎",
        "regex": "#([A-Za-z0-9]*)",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001822664850": {
        "name": "Плечо Профессора",
        "regex": "(\\w*)\/USD",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001713610894": {
        "name": "ПРЕДЕЛ РИСКА",
        "regex": "(\\w*)\/USD",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001939888914": {
        "name": "2Trade",
        "regex": "(\\w*)USDT",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001534917501": {
        "name": "KOVALENKO | ANALYTICS",
        "regex": "#([A-Za-z0-9]*)",
        "long": "🟢",
        "short": "🔴",
        "do": true
    },
    "-1001950123216": {
        "name": "Эллай Багровский",
        "regex": "(\\w*)/USDT",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001956005396": {
        "name": "NESTEROV",
        "regex": "#(\\w*)USDT",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001665166728": {
        "name": "Future’s & Signal’s",
        "regex": "(\\w*)/USDT",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001562893808": {
        "name": "Trade Community",
        "regex": "те ([A-Za-z0-9]*)",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001685986272": {
        "name": "ТРЕЙДЕР ИССА",
        "regex": " в (\\w*)",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001610165996": {
        "name": "TRADING BOT - [VIP]",
        "regex": "#(\\w*)",
        "long": "long",
        "short": "short",
        "do": true
    },
    "-1001942108687": {
        "name": "«Блог Маркова ~ Трейдинг»",
        "regex": "^\\w* (\\w*)",
        "long": "long",
        "short": "short",
        "do": true
    }
}